.about_text{
	display: flex;
	flex-wrap:wrap;
	max-width: 1120px;
	margin: 40px auto;
	width: 55%;
	font-family: Merriweather Web,serif;
	div{
		h2{
			text-align: center;
			font-size: 50px;	
			    font-family: Novecento Sans Web,sans-serif;
			    text-transform: uppercase;
		}
	}
}
.about_hero_banner{
	height: 100vh;
	display: flex;

		background-size: cover;
}
.about-hero-text{
	font-family: $font__secoundary;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	align-self:center;
	color: white;
	text-align: center;	
	margin: auto auto;
}