/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.wp-post-image{
	margin: 0 auto;
}
.type-flex{
	display: flex;

}
.adventures{
	margin-bottom: 50px;
}
.search-header{
	.search-meta{
		padding: 10px 0;
		font-family: $font__secoundary;
			text-transform: uppercase;
	}
	.entry-title{
		a{
			font-size: 35px;
			font-family: $font__secoundary;
			text-transform: uppercase;
			font-weight: bold;
		} 
	}

}
.search-result{
	padding-bottom: 50px;
}