.hero-banner{
	height: 600px;
	background: url("../../images/logos/inhabitent-logo-full.svg") center center no-repeat, url("../../images/home-hero.jpg") no-repeat center center;
	background-size: auto ,cover;
}
.adventures{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	h1{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
}
.adventures-wrapper{

	display:flex;
	margin: 0 auto;
	width: 75%;
	height: 500px;
	.big {
		background:  url("../../images/adventure-photos/canoe-girl.jpg")center;
		background-size: cover;
		padding: 0;
		height: 500px; 
		width: 50%;
		border-right: 20px solid white;

	} 
	.mediumwithsmalls{
		width: 50%;
		.medium{
			border-bottom: 20px solid white;
			background: url("../../images/adventure-photos/beach-bonfire.jpg")center;
			background-size: cover;
			padding: 0;
			height: 250px;
			width: 100%;
		}
		.smalls{
			display:flex;
			width: 100%;
			.small1{
				background: url("../../images/adventure-photos/mountain-hikers.jpg")center;
			background-size: cover;
				height: 250px;
				width: 50%;
				border-right: 10px solid white;
			}
			.small2{
				background: url("../../images/adventure-photos/night-sky.jpg")center;
			background-size: cover;
				height: 250px;
				width: 50%;
				border-left: 10px solid white;
			}
		}
	}
}
