.hero-banner{
	height: 600px;
	background: url("../../images/logos/inhabitent-logo-full.svg") center center no-repeat, url("../../images/home-hero.jpg") no-repeat center center;
	background-size: auto ,cover;
}