
.primary{
	display: flex;
}
.secondary{

}
.side_bar_enabler{
	display: flex;
	// padding-top: 100px;
}
.journal_index{
	padding-top: 100px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	width: 100%;
}
.type-post{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-bottom: 100px;
}

.content-area{
	// width: 70%;
}


.size-large{
	height: 100%;
	width: 100%;
}
.journal{
	width: 70%;
}
.widget-area{
	padding-top: 100px;
}
.day-of-week{
	font-weight: bold;
}
.widget-title{
	font-size: 20px;
	text-transform: uppercase;
}
.readmore{
	padding: 10px;
	width: 150px;
	border: 1px solid black;
	text-align: center;
	text-transform: uppercase;
		.moretag{
		font-size: .9rem;
	}
	&:hover{

	
	background: $color_text-green;
	}
}
.journal_index{
	article{
		.entry-title{
	position: absolute;
	top: 50px;
	font-size: 25px;
	width: 60%;
	padding: 10px;
	background: $color_text-green;
}
.entry-meta{
	position: absolute;
	top: 62%;
	right: 100px;
	background: $color_text-green;
}
	}
}
