
.primary{
	display: flex;
}
.secondary{

}
.journal-header{
	position: relative;
	width: 100%;
}
.side_bar_enabler{
	display: flex;
}
.entry-header{
	// position: relative;
	width: 100%;
}
.journal_index{
	padding-top: 100px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	width: 100%;
}
.single-journalpost{
	width: 80%;
	margin: 0 auto;
}
.type-post{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.content-area{
	// width: 70%;
}


.size-large{
	height: 100%;
	width: 100%;
}
.journal{
	width: 70%;
}
.widget-area{
	padding-top: 100px;
}
.day-of-week{
	font-weight: bold;
}
.widget-title{
	font-size: 20px;
	text-transform: uppercase;
}
.readmore{
	padding: 10px;
	width: 150px;
	border: 1px solid black;
	text-align: center;
	font-family: $font__secoundary;
	text-transform: uppercase;
	.moretag{
		color: black;
		font-size: .8rem;
	}	
	&:hover{
		.moretag{
		color: white;
		}
	}
	
	&:hover{
		color: white;

		background: $color_text-green;
	}
}
.journal_index{
	article{
		.entry-title{
			position: absolute;
			color: white;
			top: 45px;
			font-size: 25px;
			width: 60%;
			padding: 10px;
			padding-left: 20px;
			font-family: $font__secoundary;
			font-weight: bold;
			text-transform: uppercase;
			background: $color_text-green;
			a{
				&:visited{
					color:white;
				}
			}
		}
		.entry-meta{
			position: absolute;
			bottom: 0;
			right: 0px;
			font-size: .75rem;
			background: $color_text-green;
			font-family: $font__secoundary;
			// font-weight: bold;
			text-transform: uppercase;
			padding: 5px;
			color: white;
		}
	}
}
