/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.primary{
display: flex;
}
.secondary{

}
.side_bar_enabler{
	display: flex;
	padding-top: 100px;
}
.journal_index{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}