<<<<<<< HEAD
.type-product{
	
	
}
.single-journal{
	width: 75%;
	padding-top: 100px;
}
.entry-header{
	position: relative;

}
=======
.type-post{
	display: flex;
	flex-wrap: wrap;
	width: 75%
	
}
.wp-post-image{
	margin: 0 auto;
}
.site-main{
	display: flex;
	justify-content: center;
	background: steelblue;
	flex-wrap: wrap
}
>>>>>>> 4146e22fe0f596858aa157ec08599f539d921277
