
.type-post{
	display: flex;
	flex-wrap: wrap;
	width: 75%
	
}
.wp-post-image{
	margin: 0 auto;
}
.social-media{
	// height: 100px;
	color: black;
	border: 1px black solid;
	margin-right: 5px;
	padding: 10px 15px;
	font-family: $font__secoundary;
	&:hover{
		color: white;
		background: $color_text-green;
	}

}
.comments-area{
	width: 75%;
}
.cat-links{
	margin: 10px;
	margin-left: 0px;
}
.type-post{
	article &{
		margin: 0;
	}
}
.social-media-wrapper{
	// height: 100px;
	display: flex;
	align-self:flex-end;
	padding-top: 25px;
}



/*
*
*Single products
*
*/
.single-product-page{
	padding-top: 100px;
	display: flex;
	width: 1120px;
	margin: 0 auto;
}
.single-product-image{
	
	width: 50%;
	margin-right: 5%;

}
.product_price{
	margin-top: 10px;
	margin-bottom: 40px;
	font-family: $font__secoundary;
	text-transform: uppercase;
}
.single-product-content{
	width: 50%;
	margin: 0;
	display: flex;
	flex-wrap:wrap;
	h1{
		margin: 0;
		color: $color__brownthing;
		font-family: $font__secoundary;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.comment-form-email{
	float: right;
	label{
		display: flex;
	}
	
}
.comment-author-avatar{
	img{
		border-radius: 50px;

	}
}
.comments-link{
	a{
		color: white;
	}
}
.comments-title{
	text-transform: uppercase;
	font-family: $font__secoundary;
	font-size: 35px;
	font-weight: bold;
}
.required{
	color:$color__brownthing;
}
.fn{
	font-weight: bold;
}
.comment-author-avatar{
	padding-right: 50px;
}
.comment{
	article{
		display: flex;
		padding-bottom: 25px;
		padding-top: 25px;
	}
}
.comment-list{
	li{
		border-bottom:1px solid #e1e1e1;
	}
}
.children li{
	border-top:1px solid #e1e1e1;	
}
.comments-area{
	ol{
		margin: 0;
	}
}
.comment-content{
	p{
		padding-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
}
.comment-form{
	p{
		text-transform: uppercase;
		font-family: $font__secoundary;
	}
}
.comment-form-author{
	float: left;
	label{
		display: flex;
	}
	margin-right: 10px;
}
#url{
	width: 100%;
}
.search-field{}