/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;
	height: 200px;
	ul{
	list-style: none;
}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-area{
	border-left: 1px grey solid;
	padding-left: 50px;
	width: auto;

}

