/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.wpcf7-text{
	border-radius: 1px;
	background: #f4f4f4;
}
.wpcf7-textarea{
	padding: 5px;
	background: #f4f4f4;
}
.input[type=text]{
	padding: 5px;
}
.wpcf7-submit{
	background: $color_text-green;
}
.widget {
	margin: 0 0 $base__space-unit;
	height: 200px;
	ul{
		list-style: none;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
.widget{
	margin-bottom: 50px;
	ul{
		margin: 0;
	}
}

.widgettitle{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	font-family: $font__secoundary;
}

.widget-area{
	border-left: 1px #666 solid;
	padding-left: 50px;
	width: auto;
	aside{
		h2{
			font-family: $font__secoundary;
			text-align: left;
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 25px;
		}
	}
}

.textwidget{

	
	p{
		span{
			
		}
	}
	i{
		line-height: 1.95;
		align-self:center;
		padding-right: 10px;
	}
	.dontalign{

	}

	.widget-contact{
		display: flex;
		span{

			font-family: $font__main;
		}
		i{
			width: 20px;
			margin-right: 10px;
		}
	}
}
